#include "{{ header_include }}"
#include "utils/func_utils.h"
{% if vararg_header_include %}
#include "{{ vararg_header_include }}"
{% endif %}
{% for dep in dependencies %}
#include "{{ dep }}"
{% endfor %}

namespace gode {

Napi::FunctionReference {{ class_name }}Binding::constructor;

Napi::Object {{ class_name }}Binding::init(Napi::Env env, Napi::Object exports) {
    Napi::Function func = DefineClass(env, "{{ js_class_name }}", {
        {% for method in methods %}
        InstanceMethod("{{ method.name }}", &{{ class_name }}Binding::{{ method.name_cpp }}),
        {% endfor %}
        InstanceMethod("toString", &{{ class_name }}Binding::_to_string),
        InstanceMethod(Napi::Symbol::For(env, "nodejs.util.inspect.custom"), &{{ class_name }}Binding::_to_string),
        {% for member in members %}
        InstanceAccessor("{{ member.name }}", &{{ class_name }}Binding::{{ member.getter }}, &{{ class_name }}Binding::{{ member.setter }}),
        {% endfor %}
        {% for op_group in operators %}
        {% if not op_group.name.startswith('operator_unary') and op_group.name != 'not' %}
        InstanceMethod("{{ op_group.name }}", &{{ class_name }}Binding::operator_{{ op_group.name }}),
        {% endif %}
        {% endfor %}
    });

    constructor = Napi::Persistent(func);
    constructor.SuppressDestruct();

    Napi::Object global = env.Global();
	global.Set("{{ js_class_name }}", func);

    exports.Set("{{ js_class_name }}", func);
    return exports;
}

{{ class_name }}Binding::{{ class_name }}Binding(const Napi::CallbackInfo& info) : Napi::ObjectWrap<{{ class_name }}Binding>(info) {
    Napi::Env env = info.Env();
    if (info.Length() == 0) {
        return;
    }

    {% for constructor in constructors %}
    if (info.Length() == {{ constructor.arguments|length }}) {
        instance = godot::{{ class_name }}(
        {% for arg in constructor.arguments %}
            gode::napi_to_godot<{{ arg.type_cpp }}>(info[{{ loop.index0 }}]){% if not loop.last %}, {% endif %}
        {% endfor %}
        );
        return;
    }
    {% endfor %}
}

Napi::Value {{ class_name }}Binding::_to_string(const Napi::CallbackInfo& info) {
    godot::Variant v = instance;
    return Napi::String::New(info.Env(), v.stringify().utf8().get_data());
}

{% for method in methods %}
Napi::Value {{ class_name }}Binding::{{ method.name_cpp }}(const Napi::CallbackInfo& info) {
    {% if method.is_static %}
        {% if method.is_vararg %}
            {% if method.return_type %}
    return call_builtin_method(&godot::{{ class_name }}::{{ method.name_cpp }}, info);
            {% else %}
    return call_builtin_method(&godot::{{ class_name }}::{{ method.name_cpp }}, info);
            {% endif %}
        {% else %}
            {% if method.return_type %}
                {% if method.cast_signature %}
    return call_builtin_method({{ method.cast_signature }}(&godot::{{ class_name }}::{{ method.name_cpp }}), info);
                {% else %}
    return call_builtin_method(&godot::{{ class_name }}::{{ method.name_cpp }}, info);
                {% endif %}
            {% else %}
                {% if method.cast_signature %}
    return call_builtin_method({{ method.cast_signature }}(&godot::{{ class_name }}::{{ method.name_cpp }}), info);
                {% else %}
    return call_builtin_method(&godot::{{ class_name }}::{{ method.name_cpp }}, info);
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
        {% if method.is_const %}
            {% if method.is_vararg %}
                {% if method.return_type %}
    return call_builtin_method(&gode::builtin::{{ snake_name }}::{{ method.name_cpp }}_internal, &instance, info);
                {% else %}
    return call_builtin_method(&gode::builtin::{{ snake_name }}::{{ method.name_cpp }}_internal, &instance, info);
                {% endif %}
            {% else %}
                {% if method.return_type %}
                    {% if method.cast_signature %}
    return call_builtin_method({{ method.cast_signature }}(&godot::{{ class_name }}::{{ method.name_cpp }}), &instance, info);
                    {% else %}
    return call_builtin_method(&godot::{{ class_name }}::{{ method.name_cpp }}, &instance, info);
                    {% endif %}
                {% else %}
                    {% if method.cast_signature %}
    return call_builtin_method({{ method.cast_signature }}(&godot::{{ class_name }}::{{ method.name_cpp }}), &instance, info);
                    {% else %}
    return call_builtin_method(&godot::{{ class_name }}::{{ method.name_cpp }}, &instance, info);
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            {% if method.is_vararg %}
                {% if method.return_type %}
    return call_builtin_method(&gode::builtin::{{ snake_name }}::{{ method.name_cpp }}_internal, &instance, info);
                {% else %}
    return call_builtin_method(&gode::builtin::{{ snake_name }}::{{ method.name_cpp }}_internal, &instance, info);
                {% endif %}
            {% else %}
                {% if method.return_type %}
                    {% if method.cast_signature %}
    return call_builtin_method({{ method.cast_signature }}(&godot::{{ class_name }}::{{ method.name_cpp }}), &instance, info);
                    {% else %}
    return call_builtin_method(&godot::{{ class_name }}::{{ method.name_cpp }}, &instance, info);
                    {% endif %}
                {% else %}
                    {% if method.cast_signature %}
    return call_builtin_method({{ method.cast_signature }}(&godot::{{ class_name }}::{{ method.name_cpp }}), &instance, info);
                    {% else %}
    return call_builtin_method(&godot::{{ class_name }}::{{ method.name_cpp }}, &instance, info);
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
}
{% endfor %}

{% for member in members %}
Napi::Value {{ class_name }}Binding::{{ member.getter }}(const Napi::CallbackInfo& info) {
    {% if member.is_field %}
    return gode::godot_to_napi(info.Env(), instance.{{ member.mapped_name }});
    {% else %}
    return gode::call_builtin_method(&godot::{{ class_name }}::{{ member.getter }}, &instance, info);
    {% endif %}
}

void {{ class_name }}Binding::{{ member.setter }}(const Napi::CallbackInfo& info, const Napi::Value& value) {
    {% if member.is_field %}
    instance.{{ member.mapped_name }} = gode::napi_to_godot<{{ member.type_cpp }}>(value);
    {% else %}
    gode::call_builtin_method(&godot::{{ class_name }}::{{ member.setter }}, &instance, info, value);
    {% endif %}
}
{% endfor %}

{% for op_group in operators %}
{% if not op_group.name.startswith('operator_unary') and op_group.name != 'not' %}
Napi::Value {{ class_name }}Binding::operator_{{ op_group.name }}(const Napi::CallbackInfo& info) {
    Napi::Object js_this = info.This().As<Napi::Object>();
    {{ class_name }}Binding* binding = {{ class_name }}Binding::Unwrap(js_this);
    godot::{{ class_name }}& instance = binding->instance;

    if (info.Length() < 1) {
        {% for overload in op_group.overloads %}
        {% if overload.is_unary %}
        {% if overload.return_type == class_name %}
        godot::{{ class_name }} res = instance.operator {{ overload.cpp_op }}();
        {% else %}
        auto res = instance.operator {{ overload.cpp_op }}();
        {% endif %}
        return gode::godot_to_napi(info.Env(), res);
        {% endif %}
        {% endfor %}
        
        Napi::Error::New(info.Env(), "Operator {{ op_group.name }} requires at least 1 argument").ThrowAsJavaScriptException();
        return info.Env().Null();
    }
    
    {% for overload in op_group.overloads %}
    {% if not overload.is_unary %}
    
    {
        bool match = false;
        Napi::Value arg = info[0];
        
        {% if overload.arguments[0].type == 'float' or overload.arguments[0].type == 'int' %}
        if (arg.IsNumber()) match = true;
        {% elif overload.arguments[0].type == 'bool' %}
        if (arg.IsBoolean()) match = true;
        {% elif overload.arguments[0].type == 'String' or overload.arguments[0].type == 'StringName' %}
        if (arg.IsString()) match = true;
        {% else %}
        // For Object types, check constructor
        if (arg.IsObject()) {
            Napi::Object obj = arg.As<Napi::Object>();
            if (obj.InstanceOf({{ overload.arguments[0].type }}Binding::constructor.Value())) {
                match = true;
            }
        }
        {% endif %}
        
        if (match) {
             {% for arg in overload.arguments %}
             {{ arg.type_cpp }} {{ arg.name }} = gode::napi_to_godot<{{ arg.type_cpp }}>(info[0]);
             {% endfor %}
             
             auto res = instance {{ overload.cpp_op }} {{ overload.arguments[0].name }};
             return gode::godot_to_napi(info.Env(), res);
        }
    }
    {% endif %}
    {% endfor %}
    
    Napi::Error::New(info.Env(), "No matching overload found for operator {{ op_group.name }}").ThrowAsJavaScriptException();
    return info.Env().Null();
}
{% endif %}
{% endfor %}

} // namespace gode
