#include "{{ header_include }}"
#include "utils/func_utils.h"
{% if vararg_header_include %}
#include "{{ vararg_header_include }}"
{% endif %}

namespace gode {

Napi::Object {{ class_name }}Binding::init(Napi::Env env, Napi::Object exports) {
    Napi::Function func = DefineClass(env, "{{ js_class_name }}", {
        {% for method in methods %}
        InstanceMethod("{{ method.name }}", &{{ class_name }}Binding::{{ method.name_cpp }}),
        {% endfor %}
    });

    exports.Set("{{ js_class_name }}", func);
    return exports;
}

{{ class_name }}Binding::{{ class_name }}Binding(const Napi::CallbackInfo& info) : Napi::ObjectWrap<{{ class_name }}Binding>(info) { }

{% for method in methods %}
Napi::Value {{ class_name }}Binding::{{ method.name_cpp }}(const Napi::CallbackInfo& info) {
    {% if method.is_static %}
        {% if method.is_vararg %}
            {% if method.return_type %}
    return call_builtin_static_vararg_method_ret(&godot::{{ class_name }}::{{ method.name_cpp }}, info);
            {% else %}
    return call_builtin_static_vararg_method_no_ret(&godot::{{ class_name }}::{{ method.name_cpp }}, info);
            {% endif %}
        {% else %}
            {% if method.return_type %}
                {% if method.cast_signature %}
    return call_builtin_static_method_ret({{ method.cast_signature }}(&godot::{{ class_name }}::{{ method.name_cpp }}), info);
                {% else %}
    return call_builtin_static_method_ret(&godot::{{ class_name }}::{{ method.name_cpp }}, info);
                {% endif %}
            {% else %}
                {% if method.cast_signature %}
    return call_builtin_static_method_no_ret({{ method.cast_signature }}(&godot::{{ class_name }}::{{ method.name_cpp }}), info);
                {% else %}
    return call_builtin_static_method_no_ret(&godot::{{ class_name }}::{{ method.name_cpp }}, info);
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
        {% if method.is_const %}
            {% if method.is_vararg %}
                {% if method.return_type %}
    return call_builtin_vararg_method_ret(&gode::builtin::{{ snake_name }}::{{ method.name_cpp }}_internal, &instance, info);
                {% else %}
    return call_builtin_vararg_method_no_ret(&gode::builtin::{{ snake_name }}::{{ method.name_cpp }}_internal, &instance, info);
                {% endif %}
            {% else %}
                {% if method.return_type %}
                    {% if method.cast_signature %}
    return call_builtin_const_method_ret({{ method.cast_signature }}(&godot::{{ class_name }}::{{ method.name_cpp }}), &instance, info);
                    {% else %}
    return call_builtin_const_method_ret(&godot::{{ class_name }}::{{ method.name_cpp }}, &instance, info);
                    {% endif %}
                {% else %}
                    {% if method.cast_signature %}
    return call_builtin_const_method_no_ret({{ method.cast_signature }}(&godot::{{ class_name }}::{{ method.name_cpp }}), &instance, info);
                    {% else %}
    return call_builtin_const_method_no_ret(&godot::{{ class_name }}::{{ method.name_cpp }}, &instance, info);
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            {% if method.is_vararg %}
                {% if method.return_type %}
    return call_builtin_vararg_method_ret(&gode::builtin::{{ snake_name }}::{{ method.name_cpp }}_internal, &instance, info);
                {% else %}
    return call_builtin_vararg_method_no_ret(&gode::builtin::{{ snake_name }}::{{ method.name_cpp }}_internal, &instance, info);
                {% endif %}
            {% else %}
                {% if method.return_type %}
                    {% if method.cast_signature %}
    return call_builtin_method_ret({{ method.cast_signature }}(&godot::{{ class_name }}::{{ method.name_cpp }}), &instance, info);
                    {% else %}
    return call_builtin_method_ret(&godot::{{ class_name }}::{{ method.name_cpp }}, &instance, info);
                    {% endif %}
                {% else %}
                    {% if method.cast_signature %}
    return call_builtin_method_no_ret({{ method.cast_signature }}(&godot::{{ class_name }}::{{ method.name_cpp }}), &instance, info);
                    {% else %}
    return call_builtin_method_no_ret(&godot::{{ class_name }}::{{ method.name_cpp }}, &instance, info);
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
}
{% endfor %}

} // namespace gode
