#ifndef GODE_UTILITY_FUNCTIONS_VARARG_METHOD_H
#define GODE_UTILITY_FUNCTIONS_VARARG_METHOD_H

#include "utils/vararg_macros.h"

namespace gode {
namespace utility {

{% for func in utility_functions %}
    {% if func.is_vararg %}
        {% if func.has_return_value %}
DEFINE_VARARG_FUNC_RET({{ func.name }}, {{ func.hash }}, {{ func.return_type }})
        {% else %}
DEFINE_VARARG_FUNC_VOID({{ func.name }}, {{ func.hash }})
        {% endif %}
    {% endif %}
{% endfor %}

} //namespace utility
} //namespace gode

#endif // GODE_UTILITY_FUNCTIONS_VARARG_METHOD_H
